@media screen and (min-width: 1200px) {
  .About {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .About img {
    width: 99%;
    height: 70%;
    border-radius: 60%;
  }
  .img {
    border: 4px dotted orange;
    width: 35%;
    border-radius: 50%;
    padding: 5px 5px;
  }
  .about {
    display: block;
    width: 45%;
  }
  .about p {
    font-size: 20px;
    font-family: monospace;
    color: #333333;
    font-weight: 900;
    font-style: italic;
  }
}

@media screen and (max-width: 600px) {
  .About {
    width: 90%;
    display: block;
    text-align: center;
    margin: 50px auto;
  }
  .About img {
    width: 99%;
    height: 70%;
    border-radius: 60%;
  }
  .img {
    border: 4px dashed orange;
    width: 100%;
    border-radius: 50%;
    padding: 5px 5px;
  }
  .about {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
  .about p {
    font-size: 20px;
    font-weight: 900;
    color: #333333;
  }
  
}

@media (min-width: 601px) and (max-width: 1199px) {
  .About {
    width: 70%;
    display: block;
    justify-content: space-around;
    text-align: center;
    margin: 80px auto;
  }
  .About img {
    width: 99%;
    height: 70%;
    border-radius: 60%;
  }
  .img {
    border: 4px dashed orange;
    width: 90%;
    border-radius: 50%;
    padding: 5px 5px;
    margin: auto;
    justify-self: center;
  }


  .about {
    display: block;
    width: 100%;
    margin-top: 20px
  }
  .about p {
    font-size: 18px;
    font-weight: 900;
    color: #333333;
  }
}
